@tailwind base;
@tailwind components;
@tailwind utilities;

.form-ring:focus {
    box-shadow: 0px 0px 0px 4px #EAF3FD;
}

.wallet-adapter-button.wallet-custom.priority {
    @apply px-5 py-2 rounded-full border border-dark-blue-60 bg-regular-blue-20 text-dark-blue-60 text-sm font-medium hover:bg-regular-blue-30 focus:bg-regular-blue-20 focus:ring-ring focus:ring-4;
    border: 1px solid;
    height: auto;
}